/*clear css*/
* {
    margin: 0;
    padding: 0;
    outline: 0; 
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
  }
  
  body {
    background: #f5f5f5;
  }
  
  body, input, button {
    font-family: Arial, Helvetica, sans-serif;
  }

.red {
  background: #F13107 !important;
}

.voltar {
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.logout {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 38px;
  width: 60px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}

/* menu css */
.menu-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-header {
  padding: 20px 0px;
  text-align: center;
}
.menu-container div{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.menu-container div input{
  margin-top:20px;
  border: 1px solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
}

.menu-container div input::placeholder{
  color: #999999;
}

.menu-container div button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}
/*end login css*/

/*new user css*/
.new-container {
  height: 100%;
  display: block;
  text-align: -webkit-center;

}

.new-container table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.new-container th, .new-container td {
  text-align: left;
  padding: 16px;
}

.new-container tr:nth-child(even) {
  background-color: #f2f2f2
}

.new-header {
  padding: 20px 0px;
  text-align: center;
}

.new-container form{
  width: 100%;
  max-width: 300px;
  display: block;
}

.new-container form div{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.new-container form div input{
  margin-top:20px;
  border: 1px solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
}

.new-container form div input::placeholder{
  color: #999999;
}

.new-container form div button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}
.new-container div button {
  width: 200px;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}
/*end new user css*/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content button {
  border: 0;
  border-radius: 4px;
  height: 48px;
  width: 200px;
  margin-top: 15px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}

/* The Close Button */
.close {
  color: #999999;
  margin-top: -18px;
  margin-left: 100%!important;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*end modal css*/